body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f0f0;
}

*{
    box-sizing: border-box;
}
  
.row::after{
    content: "";
    clear: both;
    display: table;
} 
  
[class*="col-"]{
    float: left;
}
  
[class*="col-"]{
    width: 100%;
}
  
@media only screen and (min-width: 600px){
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
}

@media only screen and (min-width: 768px){
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

/*navbar*/

nav{
    position:fixed;
    text-align: justify;
    background-color: white;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    z-index: 9999;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

li{
    display: inline-block;
}

h3{
    padding-left: 50px;
    padding-right: 650px;
    font-size: 25px;
    color: rgb(0, 255, 136, 0.993)
}
a{
    display: block;
    padding: 0 12px;
    text-decoration: none;
    color: rgba(0, 255, 136, 0.993);
}

a:hover{
    color: rgb(0, 0, 0);
}

.cari{
    border: none;
    padding: 10px;
    width: 250px;
    border-bottom: 1px solid rgb(0, 255, 136, 0.993);
}

button{
    margin-left: 10px;
    margin-right: 10px;
    border: none;
    color: white;
    background-color: rgb(0, 255, 136, 0.993);
    padding: 10px 25px 10px 25px;
    border-radius: 5px;
}

button:hover{
    background-color: rgb(112, 224, 112);
}

section{
    position: center;
    color: black;
    font-weight: 500;
    padding: 50px 50px;
}

.box{
    border-radius: 25px;
    margin: 75px 50px 0px 50px;
    padding: 25px 0px 10px 0;
    background-color: rgb(0, 255, 136, 0.993);
}

img{
    border-radius: 10px;
    height: 150px;
}

img:hover{
    transform: scale(1.2);
}

.detail{
    color: white;
}

.detail:hover{
    color:rgb(0, 0, 0);
}

.next{
    text-align: center;
    border: none;
    color: white;
    background-color: rgb(0, 255, 136, 0.993);
    padding: 10px 25px 10px 25px;
    border-radius: 5px;
}

.next:hover{
    color: white;
    background-color: rgb(112, 224, 112);
}
